footer {
	padding: 10px;
	background-color: #1d1c2e;
	outline-style: 54px;
	line-height: 1.5;
	font-family: 'Noto Sans KR', sans-serif;
	margin-top: 50px;
}
.footer_information {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	text-align: left;
    padding: 30px 68px 10px 72px;
}
.footer_left nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	color: #eeeef0;
	font-size: 14px;
	margin-bottom: 20px;
}
.footer_info {
	color: #9a9c9b;
	font-size: 12px;
	font-weight: 400;
}
.footer_info strong {
	color: #fff;
	font-size: 13px;
	font-weight: 800;
}
.footer_info .footer_escrow {
	margin-top: 26px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
}
.footer_info .footer_escrow span {
	display: inline-block;
	margin-right: 46px;
}
.footer_info p:last-child {
	margin-top: 32px;
}
.footer_contact {
	color: #ccccd1;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.6;
}
.footer_contact dl:nth-child(1) dt+dd { 
	font-size: 22px;
}
.footer_contact dl:nth-child(1) dt+dd+dd { 
	font-size: 12px;
	font-weight: 300;
	color: #a8a9ad;
	margin-bottom: 42px;
}
.footer_contact dl:nth-child(2) {
	line-height: 24px;
}
.footer_contact dl:nth-child(2) dt {
	font-size: 11px;
	font-weight: 700;
}
.footer_contact dl:nth-child(2) dt+dd {
	font-size: 16px;
	font-weight: 500;
}
.footer_contact dl:nth-child(2) dt+dd+dd {
	font-size: 12px;
	color: #a4a5aa;
}
.footer iframe {
	width: 100%;
	height: 320px;
}

@media screen and (max-width:768px) {
	.footer_information {
		padding: 0;
		padding-top: 10;
	}
	.footer_left {
		margin-right: 20px;
	}
	.footer_left nav ul li {
		font-size: 8px;
		width: 53px;
	}
	.footer_info {
		font-size: 10px;
	}
	.footer_info strong, .footer_contact dl:nth-child(1) dt+dd, .footer_contact,
	.footer_contact dl:nth-child(2) dt+dd, .footer_contact dl:nth-child(2) dt+dd+dd {
		font-size: 10px;
	}
}
